<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391241503152-j5uonc5q68ct14mn2idonvmt5si8rmml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391241503152-j5uonc5q68ct14mn2idonvmt5si8rmml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391241503152-i1f7332pom7sqaft9la4bmq23cplgl06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4LzWjV8X3wSuc95t7qmJiVnDtTkdJrm8</string>
	<key>GCM_SENDER_ID</key>
	<string>391241503152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.partnext.app</string>
	<key>PROJECT_ID</key>
	<string>partnext-78e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>partnext-78e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391241503152:ios:9e9b17ec381c93c5518675</string>
</dict>
</plist>